{% extends 'main.html' %}
{% block content %}
{% load static %}    
   
{% include 'welcome.html' %}

<div class="tm-main-section light-gray-bg">
  <div class="container" id="main">
    <section class="tm-section row">
      <div class="col-lg-9 col-md-9 col-sm-8">
        <h2 class="tm-section-header gold-text tm-handwriting-font">Founder</h2>
        <h2>DURGESH PAL</h2>
        <p class="tm-welcome-description">Hello readers, I am Durgesh Pal, an alumnus of <span class="blue-text">Jawahar Navodaya Vidyalaya Hardoi.</span>Currently I am percuing B.Tech from <span class="green-text">RAJKIYA ENGINEERING COLLEGE Bijnor</span>.I have passed my high school and intermediate from <span class="blue-text">JAWAHAR NAVODAYA VIDYALAYA Hardoi</span>.I love to write not only the  romance but even in other issues too.I am much influenced by <span class="green-text">Manoj Muntashir,an Indian lyricist </span>,his way to write and way to express his emotions wins my heart. Hope you all like my writeups so show your love and read these amazing contents.</p>
        
          <div class="tm-hr-container"><hr class="tm-hr"></div>
          <h3 >Social Medias Handles</h3>
          <div class="tm-social-icons-container" >
            <a href="https://www.facebook.com/Ardour-Diaries-102409011153944" class="tm-social-icon"><i class="fa fa-facebook"></i></a>Facebook
            <a href="https://twitter.com/Durgesh66981372" class="tm-social-icon"><i class="fa fa-twitter"></i></a>Twitter
            <a href="https://www.linkedin.com/in/durgesh-pal-2001/" class="tm-social-icon"><i class="fa fa-linkedin"></i></a>LinkdIn
            <a href="#" class="tm-social-icon"><i class="fa fa-youtube"></i></a>YouTube
            <a href="https://www.instagram.com/desi_syahi/" class="tm-social-icon"><i class="fa fa-instagram"></i></a>Instagram
          </div>
          <div class="tm-hr-container"><hr class="tm-hr"></div>
      </div>
          
      <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
        <div class="inline-block shadow-img">
          <img src="{% static 'img/profile.jpg' %}" alt="Profile" class="img-circle img-thumbnail">  
        </div>              
      </div>            
    </section>          
    <div class="container" id="main">
       <section class="tm-section row">
          <div class="col-lg-9 col-md-9 col-sm-8">
            <h2 class="tm-section-header gold-text tm-handwriting-font">About Ardour Diaries</h2>
            <h2>Ardour Diaries</h2>
            
            <p class="tm-welcome-description">Hey readers, Ardour Diaries is a rising poetic community.This community want to spread the  lovely contents to our readers .
            It is a <span class="gold-text">Hindi writeups website</span> .All the contents are available in <span class="gold-text"> Devanagri</span> in addition to the <span class="gold-text"></span>English</span> script. There are Poetries,Shayries and One-Liners. These all are categorised well.You can read whatever you want.So,show your love read all content on the website and wait for upcoming contents. </p> 
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          <h3 >Social Medias Handles</h3>
          <div class="tm-social-icons-container" >
            <a href="https://www.facebook.com/Ardour-Diaries-102409011153944" class="tm-social-icon"><i class="fa fa-facebook"></i></a>Facebook
            <a href="https://twitter.com/Durgesh66981372" class="tm-social-icon"><i class="fa fa-twitter"></i></a>Twitter
            <a href="https://www.linkedin.com/in/durgesh-pal-2001/" class="tm-social-icon"><i class="fa fa-linkedin"></i></a>LinkdIn
            <a href="#" class="tm-social-icon"><i class="fa fa-youtube"></i></a>Youtube
            <a href="https://www.instagram.com/desi_syahi/" class="tm-social-icon"><i class="fa fa-instagram"></i></a>Instagram
          </div>

      </div>
          
          <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
            <div class="inline-block shadow-img">
                  <img src="{% static 'img/logo1.jpeg' %}" alt="Profile" class="img-circle img-thumbnail" >  
            </div> 
                         
          </div>          
        </div>  
        </section>   
      </div>
    </div> 
   

    {% endblock %} 