{% extends 'main.html' %}
{% block content %}
{% load static %}    
    
    <div class="tm-main-section light-gray-bg">
      <div class="container" id="main">
        
        <section class="tm-section row">
          <div class="col-lg-12 tm-section-header-container margin-bottom-30">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo"> One-Liners</h2>
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          </div>
          <div>
            <div class="col-lg-3 col-md-3">
              <div class="tm-position-relative margin-bottom-30">              
                <nav class="tm-side-menu">
                  <ul>
                    <li><a href="/oneliner/onelines/1" class="active">तौहीन</a></li>
                    <li><a href="/oneliner/onelines/1">चाँद सा इश्क़</a></li>
                    <li><a href="/oneliner/onelines/1">नशीली आखों</a></li>
                    <li><a href="/oneliner/onelines/1">कमबख्त दिल</a></li>
                    <li><a href="/oneliner/onelines/1">नाराज़गी</a></li>
                    <li><a href="/oneliner/onelines/3">बारिश और वो</a></li>
                    <li><a href="/oneliner/onelines/1">चाय और मोहब्बत </a></li>
                    <li><a href="/oneliner/onelines/1">खुदगर्ज़</a></li>
                    <li><a href="/oneliner/onelines/1"> अंतर </a></li>
                    
                  </ul>              
                </nav>    
                <img src="{% static 'img/vertical-menu-bg.png' %}" alt="Menu bg" class="tm-side-menu-bg">
              </div>  
            </div>            
            <div class="tm-menu-product-content col-lg-9 col-md-9"> <!-- menu content -->
              {% for i in oneline %}
              <div class="tm-product">
                <img src="{% static 'img/logo1.jpeg' %}" alt="Oneliner">
                <div class="tm-product-text">
                  <h3 class="tm-product-title">{{i.title}}</h3>
                  <p class="tm-product-description">{{i.desc}}</p>
                </div>
                <div class="tm-product-price">
                  <a href="/oneliner/onelines/{{i.id}}" class="tm-product-price-link tm-handwriting-font">Read</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>          
        </section>
      </div>
    </div> 
   

    {% endblock %} 