
{% load static %}



<section class="tm-welcome-section" >
    <div class="container tm-position-relative" style="background-image: url({% static 'img/table-set.jpg' %};">
      <div class="tm-lights-container">
        <img src="{% static 'img/light.png' %}" alt="Light" class="light light-1">
        <img src="{% static 'img/light.png' %}" alt="Light" class="light light-2">
        <img src="{% static 'img/light.png' %}" alt="Light" class="light light-3">  
      </div>        
      <div class="row tm-welcome-content">
        <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line">&nbsp;Welcome To&nbsp;&nbsp;<img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line"></h2>
        <h2 class="gold-text tm-welcome-header-2">Ardour Diaries</h2>
        <p class="gray-text tm-welcome-description">Ardour Diaries is a <span class="gold-text">Hindi writeups website</span> handled by <span class="gold-text">Durgesh Pal</span>.The content is available in <span class="gold-text"> Devanagri</span> in addition to the <span class="gold-text"></span>English</span> script. Lets enjoy the writeups written by me.There are Poetries,Shayries and One-Liners. These all are categorised well.You can read whatever you want.Thanks for visiting us.</p>
        <a href="#main" class="tm-more-button tm-more-button-welcome">Details</a>   
           

      </div>
     
      <img src="{% static 'img/table-set.jpg' %}" width="500px" height="800px"  alt="Table Set" class="tm-table-set img-responsive" >   
    
                  
    
    </div>      
  </section>